<!DOCTYPE html>
<head>
<style>
    h3 {
        text-color: white;
        text-size: 10%;
    }

  pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 10px;
    width: 30%;
    margin: auto;
  }

  p {
    text-align: center;
  }

  h1 {
    text-align: center;
  }

  a:link, a:visited {
    background-color: gray;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  a:hover, a:active {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    align: center;
    margin-left: auto;
    margin-right: auto;
  }

</style>
</head>

<a href="/"> Home </a>
<a href="/cowboys/marc/sort"> Vowel Sort </a>

<h1> Robot Class </h1>
<p> The class is created and called Robot, with functions to set and get attributes</p>
<pre>
<code>class Robot:
    def setName(self,n):
        self._name=n
    def getName(self):
        return self._name

    def setColor(self,c):
        self._color=c
    def getColor(self):
        return self._color

    def setWeight(self,w):
        self._weight=w
    def getWeight(self):
        return self._weight

    def display(self):
        print('Name:', self._name)
        print('Color:',self._color)
        print('Weight:',self._weight) </code>
</pre>
<p> I have set attributes for one robot</p>
<pre>
    <code>
        R=Robot()
        R.setName("Tom")
        R.setColor("Red")
        R.setWeight(55)
    </code>
</pre>
<p> We can call attributes using the display function in the class </p>
<pre>
    <code>
        def display(self):
        print('Name:', self._name)
        print('Color:',self._color)
        print('Weight:',self._weight)

        R.display()
    </code>
</pre>
<p> This is the output when we run the functions</p>
<pre>
    <code>
        Name: Tom
        Color: Red
        Weight: 55
    </code>
</pre>
<p>We can use getters and jinja functions to display it on the HTML page</p>
<P>(I didn't add the curly braces for display appearances)</P>
<pre>
    <code>
        set R = Robot
        R.setName(Tom")
        R.setColor(Red)
        R.setWeight(55)
        R.getName()
        R.getColor()
        R.getWeight
    </code>
</pre>
<p>This is what is displayed</p>
{% set R = Robot %}

{{R.setName("Tom")}}
{{R.setColor("Red")}}
{{R.setWeight(55)}}
<pre>
    <code>
        {{R.getName()}}
        {{R.getColor()}}
        {{R.getWeight()}}
    </code>
</pre>
<p> Here are all the robots we have</P>
<pre>
    <code>
    {% for robot in robots %}
        {{ robot.name}}
        {{ robot.color }}
        {{ robot.weight }}
        {% endfor %}
    </code>
</pre>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<h1> Calculator Class </h1>
<P> Enter your first number in the first submission box</P>
<P> Enter your second number in the second submission box</P>
<P> Click Go! to see your answers</P>
<form method="post">
    <div class="container">
        <div class="input-group mb-3" >
            <input type="number" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" name="number1" min="1" max="100">
        </div>
    </div>
    <div class="container">
        <div class="input-group mb-3" >
            <input type="number" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" name="number2" min="1" max="100">
        </div>
    </div>
    <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Go!</button>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <p>Here were your two numbers:</p>
                {% set nums = nums %}
                <P>{{nums}}</P>
                <p>Sum: {{sum}}</p>
                <p>Difference: {{diff}}</p>
                <p>Product: {{product}}</p>
                <p>Quotient: {{quotient}}</p>
            </div>
        </div>
    </div>
</form>
