<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Navigation -->
<div class="w3-bar w3-black">
    <a href="/" class="w3-button w3-bar-item">Home</a>
    <a href="/cowboys/allen/upload" class="w3-button w3-bar-item">Upload</a>
    <a href="/cowboys/allen/browse" class="w3-button w3-bar-item">Browse</a>
    <a href="#" class="w3-button w3-bar-item">sign up/ log in</a>
    <a href="/feedback" class="w3-button w3-bar-item">Feedback Page</a>
    <a href="/quote/" class="w3-button w3-bar-item">Quotes</a>
    <a href="/cowboys/minilab1/minilab" class="w3-button w3-bar-item">Minilab1</a>
    <a href="/cowboys/marc/marcminilab" class="w3-button w3-bar-item">Marc's Minilab</a>
    <a href="/cowboys/tanmay/minilab" class="w3-button w3-bar-item">Tanmay's Minilab</a>
    <a href="/cowboys/karam/karamminilab" class="w3-button w3-bar-item">Karam's Minilab</a>
    <a href="/exponent" class="w3-button w3-bar-item">William's Minilab</a>


    <!-- Dropdown (uses bootstrap)
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mini Labs!
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/cowboys/allen/minilab">Allen's Minilab</a>
            <a class="dropdown-item" href="#">Marc's Minilab</a>
            <a class="dropdown-item" href="#">Karam's Minilab</a>
            <a class="dropdown-item" href="#">Tanmay's Minilab</a>
            <a class="dropdown-item" href="#">Billy's Minilab</a>
        </div>
    </div>
    -->

<!-- Slide Show -->
<section>
    <img class="mySlides" src="https://wallpaperaccess.com/full/656670.jpg" style="width:100%">
    <!--  <img class="mySlides" src="img_ny.jpg" style="width:100%">
     <img class="mySlides" src="img_chicago.jpg" style="width:100%">-->
</section>

<!-- Project Description -->
<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">Cowboy's Advertisement</h2>
    <p class="w3-opacity"><i>Advertise Your Business!</i></p>
    <p class="w3-justify">We have created a platform where you can upload your ads and showcase your company. All you need to do is sign up and create an account. The rest is up to your finger tips.</p>
</section>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
    <a href="#"><i class="fa fa-facebook-official"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-flickr"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <p class="w3-medium">
        Powered by <a href="https://en.wikipedia.org/wiki/Cowboy" target="_blank">cowboys</a>
    </p>
</footer>


</html>