<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

<!-- Navigation -->
<div class="w3-bar w3-black">
    <a href="#" class="w3-button w3-bar-item">Home</a>
    <a href="#" class="w3-button w3-bar-item">Browse</a>
    <a href="#" class="w3-button w3-bar-item">sign up/ log in</a>
    <a href="/quote/" class="w3-button w3-bar-item">Quotes</a>
</div>

<!-- Slide Show -->
<section>
    <img class="mySlides" src="https://cdn.discordapp.com/attachments/821070963986006067/823982323779371058/unknown.png" style="width:100%">
    <!--  <img class="mySlides" src="img_ny.jpg" style="width:100%">
     <img class="mySlides" src="img_chicago.jpg" style="width:100%">-->
 </section>

 <!-- Project Description -->
<section class="w3-container w3-center w3-content" style="max-width:600px">
    <h2 class="w3-wide">Cowboy's Advertisement</h2>
    <p class="w3-opacity"><i>Advertise Your Business!</i></p>
    <p class="w3-justify">We have created a platform where you can upload your ads and showcase your company. All you need to do is sign up and create an account. And the rest is up to your finger tips.</p>
</section>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
    <a href="#"><i class="fa fa-facebook-official"></i></a>
    <a href="#"><i class="fa fa-pinterest-p"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-flickr"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <p class="w3-medium">
        Powered by <a href="https://en.wikipedia.org/wiki/Cowboy" target="_blank">cowboys</a>
    </p>
</footer>


</html>